<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Where Should I Eat?</title>
    <meta name="author" content="Bryan Tran">
    <meta name="description" content="For those indecisive souls who spend hours trying to find the right place to eat.">
    <meta name="keywords" content="restaurants,random,where,should,eat,food,indecisive,drinks,generator">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block styles %}
    {% endblock %}
  </head>
  <body>

    <section class="hero is-dark is-bold is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      {% block foot %}
      {% endblock %}
    </section>

    <!-- javascript -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>
